{% extends 'base.html' %} {% block content %}

<div class="hero hero-two">
  <div class="container-md">
    <div class="row">
      <div class="col">
        <h3 class="libre-franklin-semibold">Food Tracker</h3>
        <h1 class="libre-franklin-extrabold">Welcome to your tracking page!</h1>
        <h2 class="libre-franklin-light">
          Here you can add, delete and update all your meals that you have
          consumed thoughout the day.
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container-md mt-5">
  <div class="row">
    <div class="col">
      <h3 class="libre-franklin-semibold mb-3">Update your food</h3>
      <form action="" method="POST">
        {% csrf_token %}           
        
        <label for="weight" class="form-label mt-3">Quantity(g)</label>
        <input type="number" class="form-control" name="weight" id="quantity" value={{form.weight.value}} />
        <label for="meal" class="form-label mt-3">Meal Type</label>
        <select name="meal" class="form-control">

          <option value="B" {% if form.meal.value == 'B'%} selected {% endif %}>Breakfast</option>
          <option value="L"{% if form.meal.value == 'L'%} selected {% endif %}>Lunch</option>
          <option value="D" {% if form.meal.value == 'D'%} selected {% endif %}>Dinner</option>
        </select>
        <input type="date" name="date" value={{form.date.value}} />
        <input type="submit" class="btn mt-3" value="Save"></>
      </form>
    </div>
  </div>
</div>

{% endblock %}