{% extends 'base.html' %} {% block content %}
<div class="hero hero-two">
  <div class="container-md">
    <div class="row">
      <div class="col">
        <h3 class="libre-franklin-semibold">Sign Up</h3>
        <h1 class="libre-franklin-extrabold">Welcome to your Sign Up page!</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-md mt-5">
  <p>{{error_message}}</p>

  <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %} {{ form.as_p }}

    <button type="submit" class="btn">Sign Up</button>

    {% endblock %}
  </form>
</div>
