{% extends 'base.html' %} {% block content %}
<div class="hero hero-two">
  <div class="container-md">
    <div class="row">
      <div class="col">
        <h3 class="libre-franklin-semibold">About</h3>
        <h1 class="libre-franklin-extrabold">
          Changing the way you track your meals
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container-md landing-zero">
  <div class="landing-one mt-5">
    <h2 class="libre-franklin-light">
      Driven by a commitment to user-centric design, we've created an intuitive
      interface that adapts to the unique needs and preferences of each
      individual. Whether you're a seasoned health enthusiastic or just starting
      your wellness journey, FoodMetrics provides the tool and guidance you need
      to succeed.
    </h2>
  </div>

  <div class="landing-two mt-5">
    <div class="row">
      <div class="col-md">
        <h3 class="libre-franklin-semibold">Meal Tracking</h3>
        <p class="ibm-plex-mono-regular">
          Seamlessly log your food choices throughout the day, and watch as
          FoodMetrics provides valuable insights into your nutritional intake.
          From calorie counting to macronutrient breakdowns, our platform
          empowers you to make informed decisions about your diet
        </p>
      </div>

      <div class="col-md">
        <h3 class="libre-franklin-semibold">Access anywhere</h3>
        <p class="ibm-plex-mono-regular">
          Access FoodMetrics anytime, anywhere, with our convenient mobile app.
          Say goodbye to the hassle of juggling multiple food tracking apps or
          paper journals – with FoodMetrics, everything you need is right at
          your fingertips.
        </p>
      </div>
    </div>
  </div>

  <div class="landing-three mt-5"></div>
  <div class="landing-four mt-5">
    <h2 class="libre-franklin-light">
      <span>At FoodMetrics, we're passionate about empowering people</span>to
      take control of their health and make lasting changes for the better. Join
      us on this journey towards a healthier, happier future - one meal at a
      time.
    </h2>
  </div>
  <div class="landing-five mt-5">
    <div class="row">
      <div class="col-md">
        <h3>Questions to us?</h3>
        <h2 class="libre-franklin-light mt-3">
          <span class="text-dark">Simply tap the "Contact Us".</span> Our
          dedicated team is ready to answer all our your questions.
        </h2>
      </div>
      <div class="col-md contbtn">
        <a class="btn libre-franklin-extrabold" href="{% url 'contact' %}"
          >Contact Us</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
