/* ------common css ----- */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.libre-franklin-extrabold {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.libre-franklin-semibold {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.libre-franklin-light {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
}

header {
  position: absolute;
  background-color: transparent;
  width: 100%;

  .navbar-brand {
    color: white;
    text-shadow: 2px 2px 10px black;
  }
  .navbar-collapse {
    li {
      a {
        color: white;
        text-shadow: 2px 2px 10px black;
      }
    }
  }
  .navbar {
    ul {
      display: flex;
      margin-left: auto;
    }
  }
}

h2 {
  font-size: 20px;
  color: darkgrey;
}

.btn {
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 50px;
  color: white;
  background-color: #77ab60;
}

.contbtn {
  text-align: center;
}

.card {
  border-color: transparent !important;
  opacity: 87%;
}

/* -----navbar----- */

/* ------hero section----- */
.hero {
  height: 400px;
  display: flex;
  color: white;

  align-items: center;
}

.hero-one {
  background-image: url("../images/hero1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;

  h1 {
    font-size: 72px;
    text-shadow: 2px 2px 10px black;
  }
}

.hero-two {
  background-color: #77ab60;
  color: white;
  background-size: cover;

  h3 {
    font-size: 16px;
  }

  h1 {
    font-size: 72px;
  }
}

.landing-one {
  width: 50%;
}

.landing-two {
  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

.landing-three {
  background-image: url("../images/sandwich.jpeg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.landing-five {
  h3 {
    font-size: 14px;
    color: #77ab60;
  }
}

/* ------food diary------- */

/* ----contact------ */
.contact-two {
  font-size: 14px;

  table {
    tbody {
      tr {
        td {
          border-style: none;
        }
        th {
          border-style: none;
        }
      }
    }
  }
}

/* ----footer------ */
footer {
  .card-text {
    font-size: 0.875rem;
  }

  .card-title {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    color: gray;
  }
}
