.card {
  border-color: transparent !important;
  opacity: 87%;
}

/* ----footer------ */
footer {
  .card-text {
    font-size: 0.875rem;
  }

  .card-title {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    color: gray;
  }
}
